.clubs-content h1{
    font-size:4.6rem;
    font-weight:700;
    text-align: center;
    line-height: 2;
}
.clubs-content h2{
    font-size:1.6rem;
    font-weight:700;
    text-align: center;
    line-height: 2;
}
.clubs{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.clubs .container {
    /* position : relative;
    width : 1100px; */
    /* align-items : center;
    justify-content : center;
    padding : 20px;  */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; */
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
  }
  
  .clubs  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    /**/
    /**/
    /* display: grid;
    grid:'#one #two #three' '#four #five #six'; */
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .clubs  .container .card:hover {
    height : 320px;    
  }
  
  
  .clubs .container .card .image {
    position : relative;
    width : 260;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .clubs .container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .clubs .container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .clubs .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }